body {
  background-color: #dde9f3;
}

.blog {
  width: 70%;
  margin: 10rem auto;
}

.blog__img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 0.6rem;
  box-shadow: 0 5rem 10rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 3.2rem;
}

.blog__title {
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 7rem;
  color: var(--color-text-heading);
}

.blog__author {
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--color-green);
}

.blog__description {
  font-size: 2.4rem;
  line-height: 1.8;
  margin-bottom: 5rem;
}

.form {
  margin-bottom: 5rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__label {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--color-text-heading);
}

.form__textarea {
  padding: 1.2rem;
  font-size: 2.4rem;
  font-family: inherit;
  outline: none;
  border: 2px solid #a7bed3;
  border-radius: 0.6rem;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  padding: 1.4rem 5.2rem;
  font-size: 1.8rem;
}

.btn--comment {
  background-color: var(--color-green);
  color: #fff;
}

.btn:not(:last-of-type) {
  margin-right: 2rem;
}

/*? COMMENTS */
.comments {
  position: relative;
}

.comments__number {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 4.4rem;
}

.comment {
  margin-bottom: 3.6rem;
}

.comment--inner {
  display: grid;
  grid-auto-columns: auto 1fr;
  align-items: center;
  column-gap: 1.6rem;
  row-gap: 1rem;
  margin-bottom: 1.2rem;
}

.comment .box-user {
  grid-column: 1;
  grid-row: span 2;
}

.comment__user {
  grid-column: 2;
  font-size: 2.4rem;
  font-weight: 500;
}

.comment__text {
  grid-column: 2;
  font-size: 2rem;
  font-weight: 400;
}

.box-author {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 4rem;
}

.blog__date {
  font-size: 1.6rem;
}

.blog__read {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-text);
}

.blog__author {
  color: var(--color-text-heading);
  font-weight: 600;
}

.blog__inner {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.like-container {
  padding: 0.4rem 1.6rem;
  width: 10rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #a7bed3;
  border-radius: 10rem;
  margin-bottom: 3.2rem;
}

.btn-like {
  border: none;
  background: none;
  outline: none;
}

.btn-like > * {
  font-size: 3rem;
  color: var(--color-pink);
  cursor: pointer;
}

.like__number {
  font-size: 2.4rem;
}

.btn {
  color: #fff;
}

.btn--small {
  padding: 0.6rem 1.8rem;
  font-size: 1.2rem;
  transform: translateX(6.5rem);
}

.btn--reset {
  background-color: #fff;
  color: var(--color-text-heading);
}

.container-button {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 3.2rem;
}

.blog-container {
  min-height: 100vh;
}
