/*? APPLIES ON WIDTH BELOW 1200PX */
@media only screen and (max-width: 75rem) {
  html {
    font-size: 50%;
  }

  .hero {
    padding-top: 5rem;
  }

  .section-skills {
    min-height: 100vh;
  }
}

/*? APPLIES ON WIDTH BELOW 1000PX */
@media only screen and (max-width: 65rem) {
  .hero__title {
    font-size: 2.4rem;
  }

  .heading-primary {
    font-size: 4.8rem;
  }

  .btn--big {
    font-size: 1.8rem;
    padding: 1.6rem 4.8rem;
    width: 30rem !important;
  }

  .blogs {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.8rem;
  }

  .blog--3 {
    grid-column: 1 / span 2;
    justify-self: center;
    width: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0;
    padding-top: 8rem;
  }

  .hero__text-box {
    padding-top: 0;
    text-align: center;
  }

  .hero__img-box {
    display: flex;
    justify-content: center;
  }

  .hero__img {
    display: block;
    width: 90%;
    height: 80%;
    transform: translate(0);
  }

  .hero__title {
    flex-direction: row;
    justify-content: center;
    font-size: 3.2rem;
  }

  .hero__heading {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .heading-primary {
    font-size: 6rem;
    text-align: center;
  }

  .btn--small:link,
  .btn--small:visited {
    padding: 0.8rem 3rem;
    font-size: 1.6rem !important;
  }

  .section__about {
    padding-bottom: 15rem;
  }

  .about {
    grid-template-columns: 1fr;
    display: block;
    gap: 0;
  }

  .about__description {
    font-size: 3.2rem;
  }

  .about__img-box {
    align-items: start;
  }

  .about__text-box {
    position: relative;
  }

  .skills__container {
    grid-template-columns: 1fr;
    gap: 15rem;
  }

  .skills__box {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .section-portofolio {
    min-height: 100vh;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .form .form__group {
    grid-column: 1 / -1;
  }

  .form .form__group:nth-child(3),
  .form .form__group:nth-child(4) {
    grid-column: 1 / -1;
  }
}

/*? BELOW 800PX */
@media only screen and (max-width: 52rem) {
  html {
    font-size: 43.75%;
  }

  .hero {
    padding-top: 12rem;
  }

  .contact {
    padding-left: 9.6rem;
    gap: 8rem;
    grid-template-columns: 1fr;
  }

  .contact .form {
    width: 90%;
  }

  .contact__description {
    margin-bottom: 4.8rem;
  }

  .contact__text {
    font-size: 3.2rem;
    font-weight: 600;
  }

  .contact__desc {
    font-size: 3rem;
  }

  .contact .heading-tertiary {
    margin-bottom: 1.8rem;
    font-size: 3.2rem;
  }

  .contact__title {
    font-size: 2.4rem;
    margin-bottom: 5.2rem;
  }

  .contact__icon {
    font-size: 6.2rem;
  }

  .contact .form .form__input {
    padding: 3.2rem;
  }

  .social {
    font-size: 3.2rem;
  }
}

/*? BELOW 700px */
@media only screen and (max-width: 44rem) {
  .form {
    width: 80%;
  }

  .menu__btn {
    display: block;
    position: fixed;
    right: 2.4rem;
    top: 2.4rem;
    z-index: 4;
  }

  .logo {
    font-size: 3rem;
  }

  .menu__btn-icon[name="close-outline"] {
    display: none;
  }

  .show .menu__btn .menu__btn-icon[name="menu-outline"] {
    display: none;
  }

  .show .menu__btn .menu__btn-icon[name="close-outline"] {
    display: block;
  }

  .nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(17, 42, 70, 0.549);
    backdrop-filter: blur(10px);
    transform: translateY(-200%);
    z-index: 4;
    transition: all 0.3s ease;
  }

  .show .nav {
    transform: translateY(0);
  }

  .nav__list {
    flex-direction: column;
    gap: 8rem;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translateX(-10%);
  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 4.8rem;
  }

  .blogs {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .blog {
    width: 60%;
    justify-self: center;
  }

  .blog--3 {
    grid-column: 1 / 2;
    width: 60%;
  }
}

/*? APPLIES BELOW THE WIDTH OF 600px */
@media only screen and (max-width: 38rem) {
  .align--end {
    justify-self: center;
  }

  .projects {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .contact {
    padding-left: 4.8rem;
  }

  .hero {
    padding-top: 6rem;
  }
}

/*? Below 512px */
@media only screen and (max-width: 32rem) {
  html {
    font-size: 37.5%;
  }

  .form {
    width: 90%;
  }

  .hero {
    padding: 0;
  }

  .hero__heading {
    justify-content: center;
  }

  .hero__title {
    font-size: 3.2rem;
  }

  .hero {
    padding: 0;
    padding-top: 4.8rem;
  }

  .hero__text-box {
    padding-left: 1.6rem;
    text-align: left;
  }

  .btn--big {
    width: 25rem !important;
    font-size: 1.8rem;
  }

  .section-skills {
    min-height: 100vh;
  }

  .hero__img {
    width: 90%;
  }

  .heading-primary {
    font-size: 4rem;
  }

  .hero__title {
    font-size: 2.4rem;
  }

  .btn--small:link,
  .btn--small:visited {
    padding: 1.8rem 18rem !important;
    padding-left: 2.4rem !important;
    font-size: 3.2rem !important;
    text-transform: capitalize;
  }
}

/*? APPLIES BELOW 350px width */
@media only screen and (max-width: 22rem) {
  html {
    font-size: 31.25%;
  }

  .hero {
    padding: 2.4rem;
    padding-top: 4.8rem;
  }

  .hero__img {
    transform: translateX(0);
  }

  .heading-primary {
    font-size: 3.8rem;
  }

  .hero__text-box {
    text-align: center;
    justify-self: start;
    padding-left: 1.2rem;
  }

  .hero__heading {
    text-align: left;
  }

  .blog {
    width: 100%;
  }

  .btn--big {
    width: 23rem !important;
    font-size: 1.6rem;
  }
}
