/*? *********************************/
/*? SECTION HERO */
/*? *********************************/
.section__hero {
  background-image: linear-gradient(
      to right,
      rgba(19, 49, 83, 0.466),
      rgba(19, 49, 83, 0.466)
    ),
    url(../img/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  max-width: 125rem;
  margin: 0 auto;
  padding-top: 3.2rem;
}

.hero__text-box {
  padding-top: 10rem;
  padding-left: 4rem;
  align-items: center;
}

.hero__title {
  color: var(--color-primary);
  font-size: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 2.4rem;
}

.hero__heading {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: var(--color-white);
  margin-bottom: 4.8rem;
}

.hero__img-box {
  width: 100%;
  height: 100%;
}

.hero__img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 0.9rem;
  overflow: hidden;
  align-self: center;
}
