:root {
  --color-primary: #007af3;
  --color-text: #000c18;
  --color-text-heading: #112a46;
  --color-white: #fff;
  --color-black: #111;
  --color-white--2: #e7eaed;
  --color-pink: #d6336c;
  --color-green: #12b886;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  color: var(--color-text);
}

/*? *********************************/
/*? GENERAL COMPONENTS */
/*? *********************************/
.heading-primary {
  font-size: 5.6rem;
}

.heading-secondary {
  font-size: 3.6rem;
  color: var(--color-text-heading);
}

.subheading {
  /* display: inline-block; */
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 1.4rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-primary);
}

.subheading::before,
.subheading::after {
  content: "";
  width: 4rem;
  height: 0.2rem;
  background-color: var(--color-text-heading);
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.6rem;
  display: inline-block;
  text-align: center;
}

.btn--small {
  font-size: 1.6rem !important;
  padding: 0.6rem 2.4rem;
}

.btn--big {
  font-size: 1.8rem;
  padding: 1.6rem 4.8rem;
  width: 23rem;
}

.btn--full {
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-right: 2rem;
}

.btn--outline {
  background-color: var(--color-white);
  color: var(--color-text);
}

.margin__bottom--md {
  margin-bottom: 3.2rem;
}

.text--center {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.2rem;
}

/*? *********************************/
/*? SECTION HERO */
/*? *********************************/
.header {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 800;
}

.logo__inner {
  color: var(--color-pink);
}

.logo__in {
  color: var(--color-white);
}

.logo__inn {
  color: var(--color-green);
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.8rem;
  color: var(--color-white);
  text-decoration: none;
  /* font-family: inherit; */
}

.section__hero {
  background-image: linear-gradient(
      to right,
      rgba(19, 49, 83, 0.295),
      rgba(19, 49, 83, 0.295)
    ),
    url(img/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  max-width: 125rem;
  margin: 0 auto;
}

.hero__text-box {
  padding-top: 10rem;
  padding-left: 4rem;
}

.hero__title {
  color: var(--color-primary);
  font-size: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 2.4rem;
}

.hero__heading {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: var(--color-white);
  margin-bottom: 4.8rem;
}

.hero__img-box {
  width: 90%;
  height: 60%;
}

.hero__img {
  margin-top: 1.8rem;
  margin-left: 2.4rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.9rem;
  overflow: hidden;
  align-self: center;
}

/*? *********************************/
/*? SECTION ABOUT */
/*? *********************************/
.section__about {
  padding: 9.6rem 0;
  /* background-color: var(--color-white--2); */
  /* background-color: #e7f5ff; */
}

.about {
  display: grid;
  gap: 7.2rem;
  grid-template-columns: repeat(2, 1fr);
  height: 55rem;
}

.about__text-box,
.about__img-box {
  height: 65%;
}

.about__text-box {
  padding-top: 9rem;
  /* align-self: center; */
}

.about__description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}

.about__description:last-of-type {
  margin-bottom: 3.2rem;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.9rem;
}

/*? *********************************/
/*? SECTION SKILLS*/
/*? *********************************/
.section-skills {
  background-color: #000c18;
  padding: 9.6rem 0;
}
