:root {
  --color-primary: #007af3;
  --color-text: #000c18;
  --color-text-heading: #112a46;
  --color-white: #fff;
  --color-black: #111;
  --color-white--2: #e7eaed;
  --color-pink: #d6336c;
  --color-green: #12b886;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  color: var(--color-text);
}

/*? *********************************/
/*? GENERAL COMPONENTS */
/*? *********************************/
.heading-primary {
  font-size: 5.6rem;
}

.heading-secondary {
  font-size: 3.6rem;
  color: var(--color-text-heading);
}

.heading-tertiary {
  font-size: 2.4rem;
  color: var(--color-primary);
}

.subheading {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 1.4rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-primary);
}

.subheading::before,
.subheading::after {
  content: "";
  width: 4rem;
  height: 0.2rem;
  background-color: var(--color-text-heading);
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.6rem;
  display: inline-block;
  text-align: center;
}

.btn--small {
  font-size: 1.6rem !important;
  padding: 0.6rem 2.4rem;
}

.btn--big {
  font-size: 1.8rem;
  padding: 1.6rem 4.8rem;
  width: 25rem;
}

.btn--full {
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-right: 2rem;
}

.btn--outline {
  background-color: var(--color-white);
  color: var(--color-text);
}

.margin__bottom--lg {
  margin-bottom: 7.2rem;
}

.margin__bottom--md {
  margin-bottom: 3.2rem;
}

.margin__bottom--sm {
  margin-bottom: 2rem;
}

.text--center {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.2rem;
}

/*? *********************************/
/*? SECTION HERO */
/*? *********************************/
.header {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 800;
}

.logo__inner {
  color: var(--color-pink);
}

.logo__in {
  color: var(--color-white);
}

.logo__inn {
  color: var(--color-green);
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.8rem;
  color: var(--color-white);
  text-decoration: none;
}

.section__hero {
  background-image: linear-gradient(
      to right,
      rgba(19, 49, 83, 0.466),
      rgba(19, 49, 83, 0.466)
    ),
    url(img/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.sticky.section__hero {
  padding-top: 8rem;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  max-width: 125rem;
  margin: 0 auto;
}

.hero__text-box {
  padding-top: 10rem;
  padding-left: 4rem;
}

.hero__title {
  color: var(--color-primary);
  font-size: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 2.4rem;
}

.hero__heading {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: var(--color-white);
  margin-bottom: 4.8rem;
}

.hero__img-box {
  width: 90%;
  height: 60%;
}

.hero__img {
  margin-top: 1.8rem;
  margin-left: 2.4rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.9rem;
  overflow: hidden;
  align-self: center;
}

/*? MENU */
.menu__btn {
  border: none;
  outline: none;
  background: none;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #e7eaed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  display: none;
}

.menu__btn-icon {
  font-size: 4.8rem;
  font-family: inherit;
  color: var(--color-primary);
}

/*? *********************************/
/*? SECTION ABOUT */
/*? *********************************/
.section__about {
  padding: 15rem 0;
  /* height: 95rem; */
  padding-bottom: 0;
}

.about {
  display: grid;
  gap: 7.2rem;
  grid-template-columns: repeat(2, 1fr);
  /* justify-items: start; */
  align-items: start;
}

.about__text-box,
.about__img-box {
  height: 65%;
}

.about__text-box {
  padding-top: 9rem;
}

.about__description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}

.about__description:last-of-type {
  margin-bottom: 3.2rem;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.9rem;
}

/*? *********************************/
/*? SECTION SKILLS*/
/*? *********************************/
.section-skills {
  background-color: #000c18;
  padding: 9.6rem 0;
}

.skills .heading-secondary {
  color: var(--color-white);
}

.skills .subheading::before,
.skills .subheading::after {
  background-color: var(--color-white);
}

.skills__description {
  color: var(--color-white);
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.skills__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.2rem;
}

.skills__box {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skill__content {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.8rem;
}
/* 
.skill__name {
}

.skill__level {
} */

.skill__box {
  position: relative;
  background-color: #e7eaed;
  padding: 0.4rem;
  border-radius: 10rem;
}

.skill__box::before {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  content: "";
  display: inline-block;
  background-color: var(--color-primary);
  padding: 0.4rem;
}

.skill__box--1::before {
  width: 90%;
}

.skill__box--2::before {
  width: 80%;
}

.skill__box--3::before {
  width: 70%;
}

.skill__box--4::before {
  width: 30%;
}

.skill__box--5::before {
  width: 15%;
}

.skill__box--6::before {
  width: 65%;
}

/*? SECTION PORTFOLIO */
.section-portofolio {
  padding: 9.6rem 0;
}

.sticky {
  position: relative;
}

.sticky .header {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: var(--color-text-heading);
}
/* .sticky .nav__link:link,
.sticky .nav__link:visited {
  color: #000c18;
} */

/*? APPLIES ON WIDTH BELOW 1200PX */
@media only screen and (max-width: 75rem) {
  html {
    font-size: 50%;
  }

  .hero {
    padding-top: 5rem;
  }
}

/*? APPLIES ON WIDTH BELOW 1000PX */
@media only screen and (max-width: 63rem) {
  .hero__img-box {
    width: 90%;
    height: 80%;
  }

  .hero {
    column-gap: 2.4rem;
  }

  .hero__title {
    font-size: 2.4rem;
  }

  .heading-primary {
    font-size: 4.8rem;
  }

  .btn--big {
    font-size: 1.6rem;
    padding: 1.2rem 4rem;
    width: 21.2rem;
  }
}

/*? BELOW 800PX */
@media only screen and (max-width: 50rem) {
  html {
    font-size: 43.75%;
  }

  .hero {
    padding-top: 12rem;
  }

  .header {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--color-text-heading);
    z-index: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(100%);
    z-index: 5;
    transition: all 0.3s ease;
  }

  .nav__list {
    flex-direction: column;
    gap: 7.2rem;
    align-items: flex-start;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 3.2rem;
  }

  .btn--small:link,
  .btn--small:visited {
    font-size: 2rem !important;
  }

  .menu__btn {
    display: block;
    position: fixed;
    right: 2.4rem;
    top: 2.4rem;
    z-index: 4;
  }

  .show {
    transform: translate(0);
  }

  .sticky .header {
    z-index: 0;
    position: fixed;
    height: 0;
  }

  .logo {
    font-size: 3rem;
  }

  .menu__btn-icon[name="close-outline"] {
    display: none;
  }

  .show + .menu__btn .menu__btn-icon[name="menu-outline"] {
    display: none;
  }

  .show + .menu__btn .menu__btn-icon[name="close-outline"] {
    display: block;
  }
}

/*? BELOW 700px */
@media only screen and (max-width: 44rem) {
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 9.6rem;
  }

  .hero__title {
    flex-direction: row;
    justify-content: center;
    font-size: 3.2rem;
  }

  .hero__heading {
    flex-direction: row;
    font-size: 7.2rem;
    text-align: center;
  }

  .hero__img-box {
    width: 90%;
    height: 80%;
  }

  .section__about {
    padding-bottom: 15rem;
  }

  .about {
    grid-template-columns: 1fr;
    display: block;
    gap: 0;
  }

  .about__description {
    font-size: 3.2rem;
  }

  .about__img-box {
    align-items: start;
  }

  .about__text-box {
    position: relative;
  }

  .skills__container {
    grid-template-columns: 1fr;
    gap: 9.6rem;
  }

  .skills__box {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .heading-primary {
    font-size: 5.6rem;
  }
}

/*? Below 512px */
@media only screen and (max-width: 32rem) {
  html {
    font-size: 37.5%;
  }

  .heading-primary {
    font-size: 4.8rem;
  }

  .hero {
    padding: 1.8rem;
  }

  .hero__heading {
    justify-content: center;
  }

  .hero__title {
    font-size: 3rem;
  }
}

/*? Below 512px */
@media only screen and (max-width: 32rem) {
  html {
    font-size: 31.25%;
  }

  .hero__img {
    margin-left: 0.1rem;
  }

  .hero__text-box {
    margin-left: 0;
  }

  .heading-primary {
    font-size: 4rem;
  }

  .hero__title {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 21rem) {
}
